<%= form_with(model: subscription) do |form| %>
  <% if subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
        <% subscription.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

  <div class="field">
      <p>Meal: <%= @meal.name %> cut-off at: <%= @meal.cut_off_at %></p>
  </div>

  <div class="field">
    <%= form.label :meal_num %>
    <%= form.number_field :meal_num, { min: 1, max: 99 } %>
  </div>

  <% if @meal.exceeds_cut_off? %>
    <p><b>* 超过当前套餐的截止时间(<%= @meal.cut_off_at %>)，只能订阅到下周的送餐周期</b></p>
  <% end %>

  <div class="field">
    <%= form.label :deliver_at_day_of_week %>
    <%= form.select :deliver_at_day_of_week, (0..6).each.collect { |n| [ Date::DAYNAMES.rotate[n], n ] } %>
  </div>

    <div class="field">
    <%= form.label :deliver_at_hour %>
    <%= form.number_field :deliver_at_hour, { min: 0, max: 23 } %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.hidden_field :meal_id, value: @meal.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
