<h1>Meals#index</h1>
<p>Find me in app/views/admin/meals/index.html.erb</p>

<% unless @meals.empty? %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Cut-Off</th>
    </tr>
  </thead>
  <tbody>
    <% @meals.each do |meal| %>
    <tr>
      <td><%= meal.name %></td>
      <td><%= meal.price %></td>
      <td><%= meal.cut_off_at %></td>
      <td><%= link_to 'Edit', edit_admin_meal_path(meal) %></td>
      <td><%= link_to 'Show', admin_meal_path(meal) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
